@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display+SC&family=Raleway&display=swap');

$OSfont: 'Open Sans', sans-serif;
$PDfont: 'Playfair Display SC', serif;
$Rfont: 'Raleway', sans-serif;